version: "3"
services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    ports:
      - "6603:3306"
    networks:
      - mynetwork
  rec:
    build:
      context: ./rec
      dockerfile: Dockerfile.rec
    depends_on:
      - "db"
    ports:
      - "6545:6545"
    networks:
      - mynetwork
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - "db"
      - "rec"
    ports:
      - "8080:8080"
    networks:
      - mynetwork

networks:
  mynetwork:
    external: true
